html {
    background-color: #202020;
}
h2 {
    color: white;
    font-size: 1.25rem;
}

ul.job-description {
    margin-left: 0;
    padding: 0.5%;
    text-align:left;
    font-size: 0.9rem;
}

.company-title {
    color: rgb(14, 248, 14);
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;
}

.company {
    padding-bottom: 1%;
}
.dates {
    display: inline;
    position: absolute;
    right: 2%;
    font-size: 1.20rem;
}

.div1 {
    padding-left: 5px;
    color: white;
    font-size: 1.25rem;
    
}
