h2 {
    color: #293241;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align:center;
    list-style: none;
}

a {
  color: #a2a8d3;
}

a:link {
  text-decoration: none;
}

.title {
  color: #a2a8d3;
}
