h2 {
    color: white;
    font-size: 1.25rem;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align:center;
    list-style: none;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

.title {
  color: white;
}

.div1 {
  padding-left: 5px;
  color: white;
  font-size: 1.25rem;
  
}
