* {
    box-sizing: boarder-box;
}

body {
    margin: 0;
}

#home-name {
  color: white;
  align-items: flex-end;
  font-size: 2.1rem;
}

.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 	1.2rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    
}

.nav ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;

}

.nav li:active{
    background-color: #202020;
}

.nav li:hover{
    background-color: #202020;
}

.icon {
    width: 50px;
    height: 40px;
}
